html.dark {
  /* wang editor next css vars */
  --w-e-textarea-bg-color: #333;
  --w-e-textarea-color: #fff;
  --w-e-toolbar-bg-color: #333;

  /* element-plus css vars */
  --el-table-header-bg-color: var(--el-bg-color-overlay);
}
